In [78]:
import pandas as pd
import numpy as np

In [79]:
orders_df = pd.read_csv('../../data/initial/orders.csv')

In [80]:
def is_weekend(row):
    if row["day_week"] > 4:
        return 1
    else:
        return 0

In [81]:
def date_transform(df):
    date = pd.DataFrame({"time" : []})
    date["time"] = pd.to_datetime(df["running_time"])
    date["month"] = date["time"].dt.month
    date["quarter"] = date["time"].dt.quarter
    date["day_week"] = date["time"].dt.dayofweek
    date["weekend"] = date.apply(is_weekend, axis=1)
    date["minute"] = date["time"].dt.minute.to_numpy(dtype=np.int32) #minute of the day
    date["hour"] = date["time"].dt.hour.to_numpy(dtype=np.int32)
    #date["hour"] = date["time"].dt.hour.to_numpy(dtype=np.int32) #hour of the day
    df = df.join(date)
    return df

In [82]:
df = date_transform(orders_df)

In [83]:
df.head()

,Id,running_time,completed_time,route_distance_km,delta_time,time,month,quarter,day_week,weekend,minute,hour
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0,2022-01-24 18:30:21,1,1,0,0,30,18
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0,2022-01-24 06:53:53,1,1,0,0,53,6
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0,2022-01-24 10:00:59,1,1,0,0,0,10
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0,2022-01-24 14:28:05,1,1,0,0,28,14
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0,2022-01-24 11:57:29,1,1,0,0,57,11

In [84]:
df.head()

,Id,running_time,completed_time,route_distance_km,delta_time,time,month,quarter,day_week,weekend,minute,hour
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0,2022-01-24 18:30:21,1,1,0,0,30,18
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0,2022-01-24 06:53:53,1,1,0,0,53,6
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0,2022-01-24 10:00:59,1,1,0,0,0,10
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0,2022-01-24 14:28:05,1,1,0,0,28,14
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0,2022-01-24 11:57:29,1,1,0,0,57,11

In [85]:
df.to_csv('extracted_date_data.csv')