In [63]:
from datetime import datetime

In [79]:
from meteostat import Point, Hourly

In [65]:
start = datetime(2023, 1, 1)
end = datetime.now()

In [98]:
start_date = end.replace(minute=0, second=0, microsecond=0)
end_date = end.replace(minute=59, second=59, microsecond=999999)

In [99]:
start_date, end_date

(datetime.datetime(2023, 3, 4, 19, 0),
 datetime.datetime(2023, 3, 4, 19, 59, 59, 999999))

In [100]:
point = Point(46.4384699, 30.7235512)
point.get_stations(start=start_date, end=end_date)

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance,score
id,,,,,,,,,,,,,,,,,
33837,Odesa,UA,OD,33837,UKOO,46.4333,30.7667,42.0,Europe/Simferopol,1932-01-01,2023-03-03,1894-01-01,2023-02-24,1894-01-01,2022-01-01,3356.167848,0.942466

In [84]:
station_id = point.stations.item()

In [101]:
data = Hourly(station_id, start_date, end_date)

In [102]:
df = data.fetch()
df

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2023-03-04 19:00:00,5.9,2.2,77.0,0.0,NaN,234.0,7.4,16.7,1008.4,NaN,2.0

In [95]:
df.iloc[0]['temp']

7.8