In [2]:
import pandas as pd

In [8]:
orders_df = pd.read_csv('../../data/initial/orders.csv')
nodes_df = pd.read_csv('../../data/initial/nodes.csv')

In [9]:
orders_df.head()

,Id,running_time,completed_time,route_distance_km,delta_time
0,7013180891535596072,2022-01-24 11:04:12,2022-01-24 11:14:07,4.061,595.0
1,-1446874864726772723,2022-01-24 18:31:03,2022-01-24 18:44:03,2.766,780.0
2,-7109832734562886369,2022-01-24 07:33:11,2022-01-24 07:38:33,2.022,322.0
3,5574536568610609787,2022-01-24 17:23:20,2022-01-24 17:35:11,4.309,711.0
4,-9022427340295022993,2022-01-24 18:01:45,2022-01-24 18:07:09,1.819,324.0

In [10]:
nodes_df.head()

                    Id  node_start  node_finish    distance  speed
0  1403210517021349791   290773715   2041636852   64.755864   36.0
1  1403210517021349791   290773722   2163829963   59.012828   36.0
2  1403210517021349791   290773723   3129305123    8.709567   34.0
3  1403210517021349791   291071720   5216935099  275.796769   33.0
4  1403210517021349791   297978510   3684572319    8.141696   38.0